@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i');
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

img {
  width: 100%;
}

$body-color: #333333;
$theme-colors: (
  "primary": #004EAE,
  "orange": #CC4B00,
  "lightGray": #cccccc,
  "gray": #767676
);

$link-color: theme-color("orange");
$link-hover-color: darken($link-color, 15%);

$input-border-radius: 0;
$btn-border-radius: 0;
$btn-color: theme-color("primary");

$font-family: "Raleway", sans-serif;
$font-family-sans-serif: "Raleway", sans-serif;
$font-family-base: $font-family-sans-serif;

$font-size-base: 0.875rem;

$h1-font-size:  $font-size-base * 2.571;
$h2-font-size:  $font-size-base * 1.714;
$h2-font-weight: normal;
$input-btn-focus-box-shadow: none;

$container-max-widths: (
  sm: 540px,
  xl: 700px
);

@import "node_modules/bootstrap/scss/bootstrap";

:export {
  white: $body-bg;
  primaryColor: theme-color("primary");
  lightGray: theme-color("lightGray");
  gray: theme-color("gray");
  orange: theme-color("orange");
  content: $body-color;
}